header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .basket-link {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: transparent;
    background: no-repeat url('../images/basket.svg') center 32px;
    border: none;
    height: 100px;
    color: $white;
    font-size: 18px;
    margin: 0;
    padding: 0;

    &__basket-content {
      width: 40px;
      margin: 0 auto 0;
      padding: 0;
      text-align: center;
      font-size: 28px;
    }
  }
}