.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: $darkGrey;
  width: 100%;
  margin: 0;

  li {
    width: 100%;
    
    @media (min-width: $breakpoint-over-mobile) {
      width: 49%;
    }

  }

  &__image {
    width: 100%;
    background-color: $darkGrey;
    border: 1px solid $darkGrey;

    img {
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-over-mobile) {
    flex-direction: row;
     
    &__image {

      img {
        width: 100%;
      }
    }
  }

  &__image-list-container {
    padding: 20px 0 0 0;

    @media (min-width: $breakpoint-over-mobile) {
      padding: 0;
    }
  }

  &__info-title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 20px 10px 0;
    color: $black;
  }

  &__detail {
    font-size: 18px;

    @media (min-width: $breakpoint-over-mobile) {
      font-size: 32px;
    }

    margin: 20px 0 20px 0;
  }

  &__price {
    font-size: 44px;
    color: $orange;
  }

  &__button_container {
    padding: 30px 0 0 0;
    align-self: flex-start;

    button {
      font-size : 18px;
      font-weight: 400;
      margin: auto;
      padding: 0px 10px 0px 10px;
      border: none;
      background-color: $blue;
      border-radius: 3px;
      padding: 8px;
      color: $white;
      width: 100%;

      @media (min-width: $breakpoint-over-mobile) {
        width: auto;
      }
  
      &:hover {
        color: $grey;
      }
    }

  }
}