.basket-summary {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: $totalsBackground;

    span {
      display: inline-block;
      width: 100%;
      margin: auto;
      padding: 10px 0 10px;
    }

    &__total {
      text-align: left;
      font-size : 30px;
      font-weight: 800;
    }

    &__clear {
      text-align: center;
      
      button {
        font-size : 18px;
        font-weight: 400;
        margin: auto;
        border: none;
        background-color: transparent;

        &:hover {
          color: $darkGrey;
        }
      }
    }

    &__check-out {
      text-align: right;

      button {
        display: flex;
        flex-direction: row;
        font-size : 18px;
        font-weight: 400;
        margin: auto;
        padding: 0px 10px 0px 10px;
        border: none;
        background-color: $blue;
        border-radius: 3px;
        padding: 8px;
        color: $white;

        &:hover {
          color: $grey;
        }

        .chevron-icon {
          margin-left: 15px;
          align-self: flex-end;
          display: inline-block;
          width: 15px;
          height: 15px;
          background: no-repeat url('../images/chevron.svg') center center;
        }

      }
    }
}