.basket-container {
  position: fixed;
  z-index: 2;
  top :  20px;
  width: 100%;
  margin: auto;

  @media (min-width: $breakpoint-over-mobile) {
    bottom:  20px;
    right: 20px;
    top: auto;
    max-width: 500px;
  }
}

.basket-detail {
  border: 1px solid $darkGrey;
  border-radius: 3px;
  background: $grey;
  color: $darkGrey;
  font-size: 18px;
  animation: fadeIn .5s linear;

  li {
    border-bottom: 1px dashed $darkGrey;
    padding: 9px;
    animation: fadeIn .5s linear;

    &:last-child {
      border-bottom: none;
    }
  }

  li p {
    display: flex;

  }

  span {
    width: 100%;
    font-weight: 600;
    margin: auto;
  }

  &__name {
    display: flex;
    flex: 1;
    margin: auto;
    width: auto;
  } 

  &__qty {
    display: flex;
    flex: 1;


    label {
     display: none;
    }

    input {
      margin: auto;
      font-size: 14px;
      text-align: center;
      padding: 5px;
      border: none;
      border-radius: 3px;
      max-width: 20%;
      color: $darkGrey;
    }
  }

  &__price {
    color: $orange;
    flex: 1;
    margin: auto;
    text-align: center;
  }

  &__delete-product {
    flex: 1;
    margin: auto;
    text-align: right;

    button {
      margin: auto;
      border: none;
      background: no-repeat url('../images/delete-cross.svg') center center;
      background-color: transparent;
      width: 20px;
      height: 20px;
    }
  }
}