body {
  font-family: $font-faimly;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;

  * {
    box-sizing: border-box;
  }

  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;


    li {
      margin: 0;
      padding: 0;
    }
  }

  p {
    margin: 0;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    align-content: flex-start;

    @media (min-width: $breakpoint-over-mobile) {
      font-size: 40px;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: $black;
    color: $white;
  }

  input[type=text] {
    font-family: $font-faimly;
  }

  button,
  button[type=submit] {
    cursor: pointer;
    font-family: $font-faimly;
  }

  .indent-text {
    text-indent: -99999em;
    font-size: 1px;
  }
}